<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
">
    <bean id="gestorLaboratorio"
    class="pe.edu.cibertec.gch.logica.GestorLaboratorioImpl"/>
    
    <bean id="gestionLaboratorioAction" 
          class="pe.edu.cibertec.gch.action.laboratorio.GestionLaboratorioAction" 
          scope="prototype">
        <property name="gestorLaboratorio" ref="gestorLaboratorio"/>
    </bean>
    
    <bean id="edicionLaboratorioAction" 
          class="pe.edu.cibertec.gch.action.laboratorio.EdicionLaboratorioAction" 
          scope="prototype">
        <property name="gestorLaboratorio" ref="gestorLaboratorio"/>
    </bean>
    
    <bean id="mostrarLaboratorioAction" 
          class="pe.edu.cibertec.gch.action.laboratorio.MostrarLaboratorioAction" 
          scope="prototype">
        <property name="gestorLaboratorio" ref="gestorLaboratorio"/>
    </bean> 
    
<!--    <bean id="gestorProfesor"
    class="pe.edu.cibertec.gch.logica.GestorProfesorImpl"/>
    
    <bean id="gestorProfesorAction" 
          class="pe.edu.cibertec.gch.action.profesor.GestionProfesorAction" 
          scope="prototype">
        <property name="gestorProfesor" ref="gestorProfesor"/>
    </bean>
    
    <bean id="mostrarProfesorAction" 
          class="pe.edu.cibertec.gch.action.profesor.MostrarProfesorAction" 
          scope="prototype">
        <property name="gestorProfesor" ref="gestorProfesor"/>
    </bean>-->
</beans>
